## Preprocessing

In [86]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [87]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [88]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [89]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [90]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [91]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [92]:
# You may find it helpful to look at CLASSIFICATION value counts >1
print(classification_counts[classification_counts > 1])

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [93]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [94]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, drop_first=True)

In [95]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [96]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [97]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  90
hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 90)                3330

 dense_16 (Dense)            (None, 20)                1820

 dense_17 (Dense)            (None, 1)                 21

=================================================================
Total params: 5171 (20.20 KB)
Trainable params: 5171 (20.20 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [98]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [99]:
# Add early stopping callback
early_stopping = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10)

In [100]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, 
                   validation_data=(X_test_scaled, y_test),
                   callbacks=[early_stopping])

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.5751 - accuracy: 0.7169 - val_loss: 0.5601 - val_accuracy: 0.7255
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7282 - val_loss: 0.5563 - val_accuracy: 0.7282
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7307 - val_loss: 0.5582 - val_accuracy: 0.7258
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7305 - val_loss: 0.5547 - val_accuracy: 0.7279
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5495 - accuracy: 0.7303 - val_loss: 0.5546 - val_accuracy: 0.7305
Epoch 6/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5486 - accuracy: 0.7313 - val_loss: 0.5562 - val_accuracy: 0.7318
Epoch 7/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5480 - accuracy: 0.7321 - val_loss: 0.5552 - val_accuracy: 0.7272
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5474 - accuracy: 0.7322 - val_loss: 0.5522 - val_accuracy: 0.7297
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5465 - accuracy: 0.7328 - val_loss: 0.5544 - val_accuracy: 0.7283
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7316 - val_loss: 0.5537 - val_accuracy: 0.7291
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7330 - val_loss: 0.5529 - val_accuracy: 0.7299
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5457 - accuracy: 0.7339 - val_loss: 0.5524 - val_accuracy: 0.7310
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5455 - accuracy: 0.7337 - val_loss: 0.5518 - val_accuracy: 0.7324
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5449 - accuracy: 0.7339 - val_loss: 0.5537 - val_accuracy: 0.7287
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5449 - accuracy: 0.7337 - val_loss: 0.5530 - val_accuracy: 0.7268
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7333 - val_loss: 0.5544 - val_accuracy: 0.7250
Epoch 17/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5444 - accuracy: 0.7343 - val_loss: 0.5546 - val_accuracy: 0.7254
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7338 - val_loss: 0.5528 - val_accuracy: 0.7300
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7348 - val_loss: 0.5520 - val_accuracy: 0.7321
Epoch 20/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5438 - accuracy: 0.7353 - val_loss: 0.5533 - val_accuracy: 0.7269
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5431 - accuracy: 0.7342 - val_loss: 0.5548 - val_accuracy: 0.7285
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7354 - val_loss: 0.5519 - val_accuracy: 0.7326
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7349 - val_loss: 0.5542 - val_accuracy: 0.7277

In [101]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5542 - accuracy: 0.7277 - 217ms/epoch - 808us/step
Loss: 0.5541793704032898, Accuracy: 0.7276967763900757

In [102]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

c:\Users\angel\anaconda3\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(